{% extends 'layout.html' %}
{% block title %}
    Usuario
    {{ super() }}
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    {% for usuario in usuarios %}
        <p>Nombre:{{ usuario[1] }}</p>
        <p>Edad:{{ usuario[2] }}</p>
        <button><a href="{{ url_for('api.borrar_usuario',id=usuario[0]) }}">Eliminar</a></button>
        <hr>
    {% endfor %}
{% endblock %}