<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Flex python
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>
 <ul>
        <li><a href="{{ url_for('api.hello_world') }}">Inicio</a></li>
        <li><a href="{{ url_for('api.usuariodashboard') }}">Usuario</a></li>
        <li><a href="{{ url_for('api.consulta') }}">Listar</a></li>
        <li><a href="{{ url_for('api.crear_usuario') }}">Crear Usuario</a></li>
        <li><a href="{{ url_for('api.listar_usuarios') }}">Listar Usuarios</a></li>
    </ul>
<section>
    {% block content %}

    {% endblock %}
</section>
</body>
</html>